default: &default
  DATABASE_USER: ubuntu
  DATABASE_PASSWORD: ""
  MEETUP_KEY: "your-key-here"
  BUGSNAG_KEY: ""

development:
  <<: *default
  DATABASE_NAME: maynard_development

test:
  <<: *default
  DATABASE_NAME: maynard_test
  MEETUP_KEY: "real-key-not-needed"
  LOG_LEVEL: "WARN"